.navbar {
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    background: #29004cad;
  }
  
  .navbar h1 {
    margin: 10px 0;
    padding-bottom: 10px !important;
    color: #f7078c !important;
    font-family: "Permanent Marker", cursive !important;
    text-shadow: 2px 4px #871287 !important;
    font-weight: 900 !important;
    font-size: 40px !important;
    padding: 0px 10px 0px 10px;
  }
  
  .navbar p {
    color: #f7078c !important;
    font-family: "Permanent Marker", cursive !important;
    font-size: 20px !important;
  }
  .authWrapper{
    display: flex;
    justify-content:space-between
  }
  .authButton{
    font-family: "Permanent Marker", cursive !important;
    flex: 1;
    margin-left: auto;
    color: #c1bfbf;
    font-weight: 900;
    font-size: 25px;
    background:none ;
    border: none;
    outline: none;
  }
  .authButton:hover{
    text-shadow: 1px 1px 2px #fff !important;
  }
  .currentUsername{
flex: 4;
  }
  .currentUsername p{
    display: flex;

  }