@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/background/1876.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;

}

.App {
  background-color: #39007396;
  margin: 20px auto;
  width: 90%;
  max-height: 100vh;
  max-width: 700px;
  color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
  border: 3px solid #f7078c;
  border-radius: 10px;
  box-shadow: 1px 1px 30px #f7078c;
}

.author {
  font-size: 0.9em;
  color: #ddd
}

form {
  padding: 20px;
}

input[type='text'] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #29004cad;
  color: #fff;
  border: 0;
  outline: none;
  border: 3px solid #f7078c;
  border-radius: 6px;
  box-shadow: 1px 1px 20px #f7078c;
  font-family: "Permanent Marker", cursive !important;
}

button[type='submit'] {
  margin: 10px auto;
  background: #29004cad;
  color: #eee;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 17px;
  border: 0;
  padding: 6px 20px;
  display: block;
  border: 3px solid #f7078c;
  border-radius: 6px;
  padding: 10px 10px;
  outline: none;
}

button[type='submit']:hover {
  border: 3px solid #fafafa;

  box-shadow: 1px 1px 20px #f7078c;
  cursor: pointer;
}

/* ------ SWEET ALERT ------ */

.swal-overlay {
  background-color: rgba(47, 25, 99, 0.885);
}

.swal-modal {
  background-color: #190e5d;
  border: 2px solid #f7078c;
  box-shadow: 2px 1px 30px #f7078c;
}

.swal-title {
  color: #fff !important;
}

.swal-text {
  color: #fff !important;
  padding-top: 15px;
}

.swal-content {
  z-index: 10;
  color: #fff !important;
}

.swal-button--confirm:hover {
  background-color: #f7078c !important;
  border: 1px solid #f7078c;
  box-shadow: 1px 1px 5px #f7078c;
}

.swal-button--confirm {
  padding: 11px 19px;
  border-radius: 5px;
  background-color: #f7078c;
  font-size: 12px;
  border: 1px solid #f7078c;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-icon--success:after, .swal-icon--success:before, .swal-icon--success__hide-corners {
  background: none;
}

/* SUCCESS ICON */

.swal-icon--success {
  border-color: #f7078c;
}

.swal-icon--success__line--long, .swal-icon--success__line--tip {
  background-color: #f7078c !important;
}